/* 햄버거 스타일 */
.hamburger .line {
    width: 20px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.is-active .line:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  
  .hamburger.is-active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }