* {
  margin: 0;
  background-image: url(https://pbs.twimg.com/media/GOLZkava8AA-ilE?format=jpg&name=large);
  background-position: contain;
  background-size: cover;
}

/* FONT title */
@font-face {
  font-family: "KCCChassam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* FONT footer */
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* -------------------HEADER------------------------ */
header {
  /* size N back */
  height: 10vh;
  width: 100vw;
  background: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-txt {
  background: none;
  font-family: "KCCChassam", sans-serif;
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.3);
  font-size: 50px;
  text-decoration: none; 
  color: inherit;
}

#yeji {
  width: 400px;
  background: none;
}

/* ------------------------------------------------ */


/* -------------------BODY------------------------- */

/* body의 전체배경 설정 */
.container {
  /* size N back */
  height: 87vh;
  width: 100vw;
  background: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BODY내부 컨텐츠 박스 */
.content {
  background: none;
  width: 100%;
  height: 100%;
  justify-items: center;
  
  /* 개수변경 기본  */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3px;
  
  /* 스크롤 제작 */
  overflow-y: auto;
}

/* grid 개수 변경 */
@media (min-width: 450px) {
  .content { grid-template-columns: repeat(2,1fr); }
}

@media (min-width: 700px) {
  .content { grid-template-columns: repeat(3,1fr); }
}

/* 카드 칸막이 설정 */
#card {
  border-radius: 10px;
  background: rgba(255,255,192,0.1);
  backdrop-filter: blur(10px);
  box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.1);
  
  min-width: 170px;
  height: 21vh;
  overflow-y: auto;
  
  border: 1px solid gray;
  text-align: left;
  padding: 10px;
  margin: 10px;
}

/* 개별 카드 제목 */
#card h3 {
  background: none;
  font-size: 17px;
  text-align: left;
  color: hsla(239, 100%, 67%, 1);
  border-bottom: 2px solid hsla(239, 100%, 67%, 1);
}

/* 활동기간 */
#card p {
  background: none;
  color: black;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
}

/* 이미지 하이퍼링크 */
#card a {
  background: none;
}

/* 사진 크기 설정 */
#card img {
  width: 100%;
  height: 15vh;
  margin-top: 15px;
}

/* ------------------------------------------------ */


/* -------------------FOOTER----------------------- */
footer {
  /* size N back */
  min-height: 3vh;
  width: 100vw;
  background: #333;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#div-txt {
  background: none;
  font-family: "Dovemayo_gothic", sans-serif;
  font-size: 20px;
  text-decoration: none; 
  color: white;
}

#div-txt i {
  margin-right: 5px;
  background: none;
  color: white;
}
/* ------------------------------------------------ */