* {
  margin: 0;
}

/* ~480px */

.top {
  height: 100px;
  background: #273036;
  
  display: flex;
  align-items: center;
  border-radius: 0 0 15px 15px;
}

#yeji {
  height: 50px;
  margin-left: 15px;
}

.icon-box {
  z-index: 1;
  color: white;
  margin-left: 140px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box i {
  margin-right: 30px;
  font-size: 30px;
  
  text-decoration: none; 
  color: white;
}

body {
  background: white;
}